.background{
background-image: url('../asset/bird.jpg');
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;

height: auto;
max-width: 100%;
max-height: auto;
background-attachment:fixed; 
height:100%;
background-repeat: no-repeat;
background-position: 30% 30%;
}

.background_fill {
  overflow: hidden;
  position: relative;
}
.background_fill:before {
  background-color: blue;
  background-size: cover;
  z-index: -3;
  content: " ";
  position: fixed;
  background: url('../asset/bird.jpg') no-repeat center center;
  will-change: transform;
  width: 100%;
  height: 100%;

}


.feature{
	border-radius: 100%;
	max-width: 23%;
	max-height: 20%;
}

.pad{
	padding-top:100px;
	padding-bottom: 10%;
}

.title{
	padding-top:4%;
	padding-bottom: 12%;
}

.title1{
	padding-top:30px;
	padding-bottom: 2%;
}

.header{
	margin: 0.4rem;
}

.links{
	padding-top: 0.9rem;
	padding-right: 0.8rem;
}


.content{
	font-size: 1.0rem;
	color: inherit;
	margin-top: 0.4rem; 
	padding-bottom: 3.7%;
}

.card-margin{
	
	margin-top: 7%;

}

.card-margin2{
	
	margin-top: -4.2%;

}

.card-title1{
	font-size: 2.0rem;
	padding-top: 0.3rem;
}

.title-end{
	padding-top: 4%; 
}

.footer{
	padding-top: 10em;
	text-align: right;
	padding-bottom: 2%;
}
