.background{
background-image: url('../asset/bird.jpg');
background-size: cover;
background:#eoeoeo;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
width:100%;
background-attachment:fixed; 
height:100%;
background-repeat: no-repeat;
background-position: 40% 40%;
}

.feature{
	border-radius: 100%;
	max-width: 190px;
	max-height: 190px;
}

.pad{
	padding-top:100px 
}
.header{
	margin: 0.4rem;
}

.links{
	padding-top: 0.9rem;
	padding-right: 0.8rem;
}
