.background{
background-image: url('../asset/bird.jpg');
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;

height: auto;
max-width: 100%;
max-height: auto;
background-attachment:fixed; 

background-repeat: no-repeat;
background-position: 30% 30%;
}

.feature{
	border-radius: 100%;
	max-width: 23%;
	max-height: 20%;
}

.pad{
	padding-top:100px;
	padding-bottom: 15%;
}

.title{
	padding-top:30px;
	padding-bottom: 15%;
}

.header{
	margin: 0.4rem;
}

.links{
	padding-top: 0.9rem;
	padding-right: 0.8rem;
}

.content{
	font-size: 1.1rem;
	color: inherit;
	margin-top: 0.4rem; 
}

.card-margin{
	margin: 4.3rem;

}

.card-title1{
	font-size: 2.0rem;
	padding-top: 0.3rem;
}